body {
  background-color: #999999;

}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  background-color: #ffffff;
  background-image: url(city.png);
  display: grid;
  grid-template-columns: 12;


}

header {

  color: #ffffff;
  background-color: black;
  font-family: helvetica, arial,sans-serif;
  padding: 24px;
  margin-right: 50px;
  width: 130px;
  height: 150px;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  column-span: 3;

}

nav ul {
  list-style-type: none;
  margin: 30;
  padding: 30;
  text-align: right;
  border-style: solid;
  border-color: red;
  border-width: 5px;

}



nav li {
  float: none;
  padding: 30px;
  margin: 30px;
  background-color: #F2E100;
  display: inline-block;
  width: 90px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 25px;


}

a {
  color: black;
  text-decoration: none;
  text-align: left;
  font-family: helvetica;

}

nav ul :hover {
  background-color: #F2B900;
  color: white;
}

a :hover {
  background-color: #F2B900;
  color: white;

}



nav {
column-span: 9;

}

main {

  color: white;
  background-color: black;
  font-size: 24px;
  padding: 24px;
  font-family: helvetica, arial,sans-serif;
  column-span: 12;
}


footer {
  background-color: white;
  font-family: helvetica, arial,sans-serif;
  font-size: 24px;
  padding: 24px;
  column-span: 12;
}

.banner {
  padding: 150px;
  column-span: 12;

}

.prof {
  height: 800px;
  width: auto;
  float: left;
  margin-top: 26px;
}



h2 {
  color: #F2B900;
  font-size: 50px;
  font-family: helvetica, arial,sans-serif;
  background-color: white;
}

.web {
  width: 700px;
  margin-top: 50px;
}
