body {
  background-color: #999999;

}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  background-color: #ffffff;
  background-image: url(city.png);
  display: grid;
  grid-template-columns: repeat(12, 1fr);


}

header {

  color: #ffffff;
  background-color: black;
  font-family: helvetica, arial,sans-serif;
  padding: 24px;
  margin-right: 50px;
  margin-bottom: 20px;
  width: 130px;
  height: 150px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  grid-column: span 3;

}

nav ul {
  list-style-type: none;
  text-align: center;

}

nav li {
  width: 150px;
  margin: 30px;
  background-color: #F2E100;
  display: inline-block;
  font-size: 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}


a {
  color: white;
  text-decoration: none;
  font-family: helvetica;

}



nav li a {
  color: #ffffff;
  
  background-color: #F2E100;
  display: block;
  text-decoration: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: background-color .5s, color .5s;


}

nav li a:hover {
  background-color: #F2B900;
 color: white;
}



nav {
  grid-column: span 9;

}

main {
  margin-top: 500px;
  color: white;
  background-color: black;
  font-size: 24px;
  padding: 24px;
  font-family: helvetica, arial,sans-serif;
  grid-column: span 12;
  font-family: 'Josefin Sans', sans-serif;
}


footer {
  background-color: #F2E100;
  font-family: helvetica, arial,sans-serif;
  font-size: 24px;
  padding: 10px;
  grid-column: span 12;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  height: 150px;
}



}

.prof {
  height: 800px;
  width: auto;
  float: left;
  margin-top: 26px;
}



h2 {
  color: #F2B900;
  font-size: 50px;
  font-family: helvetica, arial,sans-serif;
  background-color: black;
}

.headerL {
  color: #ffffff;

}

.web {
  width: 700px;
  margin-top: 50px;
}

.slider1 {
  grid-column: span 6;


}

.para {
  grid-column: span 6;
  color:#ff8000;
  background-color: black;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 20px;
  border-color: white;
  border-width: 2px;
}

.para2 {
  grid-column: span 6;
  color:#ff8000;
  background-color: black;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 20px;
  margin-left: 20px;
  height: 359px;
}

.img1 {
  margin-left: 50px;
}

.img2 {
  width: 100px;
  height: 100px;
  padding: 100px;
}

.socials {
  display: inline-block;
}
