body {
  background-color: #999999;

}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  background-image: url(city.png);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: repeat(12, 1fr);
}

header {
  grid-column: span 2.5;
  color: #ffffff;
  background-color: black;
  font-family: helvetica, arial,sans-serif;
  padding: 24px;
  margin-right: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}



nav li {
  float: none;
  padding: 50px;
  margin: 50px;
  background-color: #F2E100;
  display: inline-block;
  width: 90px;

}

a {
  color: black;
  text-decoration: none;
  text-align: left;
  font-family: helvetica;

}

nav ul :hover {
  background-color: #F2B900;
  color: white;
}

a :hover {
  background-color: #F2B900;
  color: white;

}



nav {
  grid-column: span 11;
  grid-row: span 4;

}

main {
  grid-column: span 12;
  color: white;
  background-color: black;
  font-size: 24px;
  padding: 24px;
  font-family: helvetica, arial,sans-serif;
}


footer {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat (12, 1fr);
  grid-column-gap: 40px;
  background-color: white;
  font-family: helvetica, arial,sans-serif;
  font-size: 24px;
  padding: 24px;
}
